
<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <h1>Sign in</h1>

            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" type="text" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password">
                </div>

                <button type="submit" class="btn btn-dark btn-block btn-lg">Sig in to {{title}}</button>

                {{#if errorMsg}}
                <div id="errorMsg">{{{errorMsg}}}</div>
                {{/if}}

            </form>

        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="alert alert-primary" role="alert">
                <p>Don't have an account yet? <a href="/signup">Create an account!</a></p>
            </div>
        </div>
    </div>

</div>