
<h4>WELCOME TO YOUR CUSTOMIZED BIZZDASH</h4>
<p id="api">Salario <p/>

<div class="container-fluid">

    <h1 class="h3 mb-2">Charts</h1>
    
    <div class="row">

        <div class="col-xl-8 col-lg-7">

            <!-- Area Chart -->
            <div class="card shadow mb-4">
                
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-dark">Area Chart</h6>
                </div>

                <div class="card-body">

                    <figure class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </figure>

                    <hr>
                    
                </div>
            </div>

            <!-- Bar Chart -->
            <div class="card shadow mb-4">

                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-dark">Salary Bar Chart</h6>
                </div>

                <div class="card-body">

                    <figure class="chart-bar">
                        <canvas id="salaryBarChart"></canvas>
                    </figure>

                    <hr>
                    
                </div>
            </div>

        </div>

        <!-- Donut Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-dark">Donut Chart</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    
                    <figure class="chart-pie pt-4">
                        <canvas id="myPieChart"></canvas>
                    </figure>
                    <hr>

                </div>
            </div>
        </div>
    </div>

</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="/javascripts/api/api-handler.js"></script>
<script src="/javascripts/api/api-charts.js"></script>
<script src="/javascripts/api/api-index.js"></script>

