

<div class="container dashboard">

    <h1 class="h3 mb-4">WELCOME TO YOUR CUSTOMIZED BIZDASH</h1>
    
    <div class="row">

        <div class="col-md-6">

            <!-- Bar Chart -->
            <div class="card shadow mb-4">
            
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-dark">Salary</h6>
                </div>
            
                <div class="card-body">

                    <canvas id="salaryChart"></canvas>
            
                    <hr>
                    <small class="text-muted">Historial average salary</small>
                </div>
            </div>

        </div>

        <div class="col-md-6">
        
            <!-- Area Chart -->
            <div class="card shadow mb-4">
        
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-dark">Jobs by location</h6>
                </div>
        
                <div class="card-body">

                    <canvas id="jobsByLocationChart"></canvas>
        
                    <hr>
                    <small class="text-muted">Number of jobs advertised</small>
        
                </div>
            </div>
        
        </div>

        <!-- Pie Chart -->
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-dark">Current distribution of salaries</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                    <canvas id="histogramSalaryChart"></canvas>

                    <hr>
                    <small class="text-muted">Top five companies by number of vacancies.</small>
                </div>
            </div>
        </div>

        <!-- Donut Chart -->
        <div class="col-md-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-dark">Top companies for developers</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
        
                    <canvas id="companiesChart"></canvas>
        
                    <hr>
                    <small class="text-muted">Top five companies by number of vacancies.</small>
                </div>
            </div>
        </div>

    </div>

</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="/javascripts/api/api-handler.js"></script>
<script src="/javascripts/api/api-charts.js"></script>
<script src="/javascripts/api/api-index.js"></script>

