   
        <div class="card col-md-4">
         <video src="{{projects.[0].media.video}}" controls>
            Tu navegador no implementa el elemento <code>video</code>.
         </video>
                         <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.
                    </p>

                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                        Ver detalles
                    </button>

                </div>
            </div>
