  
{{> (lookup . 'navbarPartial')}}

<div class="container">

    <h1>Esto es el perfil de: {{user.username}} </h1>



    {{#if userRegistered}}
        <p>Esto solo lo puede ver el usuario logueado: {{user.username}}</p>
        <p>Y esto tambien</p>
    {{/if }}

</div>

