
<h1>Subida de archivos CDN</h1>
<form action="/upload" method="post" enctype="multipart/form-data"><br><br>
    <input type="text" name="nameInput" placeholder="nombre de la imagen"><br><br>
    <input type="file" name="imageInput"><br><br>
    <input type="submit" value="Save">
</form>